# Ignore node_modules folder
node_modules/

# Ignore all log files
*.log

# Ignore build output
dist/

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

.idea
.parcel-cache